.card {
  position: relative;
  left: 10px;
  margin: 2% 3%;
  width: 20%;
  min-height: 350px;
  max-height: 350px;
  transition: 1s;
  transform-style: preserve-3d;
  color: #dadad9;
  box-shadow: 1px 0 7px 5px purple;
  background: #1e1e1e;
}

.card:hover {
  transform: rotateY(180deg);
  transition: transform 1.5s;
}

.side {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  backface-visibility: hidden;
}

.image {
  width: 100%;
  height: 75%;
}

.front {
  padding: 2% 5%;
  display: flex;
  justify-content: space-between;
}

.categories {
  padding: 0 5% 2% 5%;
}

.rating {
  padding-right: 5%;
  text-align: end;
}

.back {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transform: rotateY(180deg);
}

.button {
  width: 35%;
  padding: 4%;
  border: none;
  border-radius: 20px;
  transition: 0.2s;
  color: #dadad9;
  background: purple;
}

.button:hover {
  transition: 0.2s;
  color: #dadad975;
  background: rgba(128, 0, 128, 0.493);
}

.button:active {
  width: 30%;
  border: none;
}
