* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #0e0e0eda;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.active {
  border-bottom: 4px solid purple;
}

#modal > body {
  overflow-y: hidden;
}

.form {
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 15px 10px #562370;
  border-radius: 15px;
  background: #121213;
}

.formTitle {
  align-self: flex-start;
  padding-bottom: 5%;
  color: #dadad9;
  font-size: 40px;
}

.submitFormButton {
  padding: 2% 3%;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  color: #dadad9;
  background: #562370;
}

.submitFormButton:hover {
  background: #562370bd;
}

.submitFormButton:active {
  background: linear-gradient(180deg, rgba(86, 35, 112, 1) 50%, rgba(34, 13, 45, 1) 100%);
}
