.mainContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  background: url("../assets/images/back.png");
}

.gamesBlock {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 80%;
}
