@import "../../../assets/styles/parts/colors";
@import "../../../assets/styles/parts/input";

.topContainer {
  width: 100%;
  padding: 10px 10px 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.image {
  max-width: 250px;
  height: auto;
}

.bottomBlock {
  display: flex;
  margin: 20px 30px 20px 30px;
  flex-direction: row;
}

.formContainer {
  margin-left: 30px;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  @extend %input-shared;
  margin: 5px;
}

.description {
  height: 150px;
  margin: 15px;
  padding: 5px 15px 15px 15px;
  border-radius: 15px;
  border: 2px solid $white;
  background: #121213;
  font-size: 20px;
  color: $white;
  resize: none;
}

.description::-webkit-scrollbar {
  width: 5px;
  background: transparent;
  border-radius: 15px;
}

.description::-webkit-scrollbar-track {
  background: transparent;
}

.description::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: purple;
}

.description::-webkit-scrollbar-track-piece:end {
  margin-bottom: 10px;
  background: transparent;
}

.description::-webkit-scrollbar-track-piece:start {
  margin-top: 10px;
  background: transparent;
}

.checkbox {
  margin: 15px;
  padding: 5px 15px 15px 15px;
  border-radius: 15px;
  background: #121213;
  font-size: 20px;
  color: $white;
  resize: none;
  transform: scale(2);
}

.buttonsBlock {
  width: 40%;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-around;
}
