.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #dadad9;
  background-color: #121212;
}

.title {
  line-height: 96px;
  margin-left: 5%;
  text-decoration: none;
  font-size: 35px;
  font-weight: bold;
  color: #dadad9;
  border-bottom: 4px solid purple;
}

.title:active {
  color: #dadad9;
}
