@import "../../assets/styles/parts/colors";
@import "../../assets/styles/parts/input";

.container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.432);
  z-index: 2000;
}

.closeButtonWrapper {
  position: relative;
  width: fit-content;
  align-self: flex-end;
  border-radius: 15px;
  height: fit-content;
}

.closeButton {
  position: relative;
  height: 50px;
  width: 50px;
}

.closeLeftTop {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%) rotateZ(45deg);
  height: 6px;
  border-radius: 15px;
  background: #fff;
}

.closeRightTop {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%) rotateZ(-45deg);
  height: 6px;
  border-radius: 15px;
  background: #fff;
}

.closeButtonWrapper:hover {
  .closeLeftTop {
    background-color: red;
  }

  .closeRightTop {
    background-color: red;
  }
}

.bottomContent {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  z-index: 3000;
}

.input {
  @extend %input-shared;
}

.input:placeholder-shown {
  color: black;
}

.input:focus {
  border-radius: 15px;
  border: 2px solid $white;
}
